* {
  margin: 0;
  padding: 0;
}

.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 600px;
  background-color: #9071CC;
  color: white;
  border: 2px black solid;
  border-radius: 10px 100px / 120px;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  max-width: 644px;
  text-align: center;
  background-color: #9071CC;
  color: white;
  margin: 15px;
  padding-bottom: 10px;
  border-radius: 8px;
  border: 2px black solid;
}

.card a {
  color: white;
}

img {
  display: block;
  object-fit: cover;
  margin: 0px;
  width: 640px;
  height: 437px;
  padding-bottom: 10px;
  border-radius: 5px 5px 0px 0px;
}

.post-text {
  padding: 10px;
}

.page-nums {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0;
}

.page-nums a {
  padding: 8px;
  background-color: #F2962F;
  color: black;
  border: 1px black solid;
  border-radius: 10px;
  margin-right: 5px;
}

.num {
  list-style-type: none;
}

.num a {
  text-decoration: none;
}
