{% extends "base.html" %}
{% block content %}
   
<link rel="stylesheet" href="{{ url_for('static', filename= 'style/account.css')}}">

<div class="center-title">
    <div class="title">
        <h1>Account page for {{current_user.username}}</h1>
    </div>
</div>

<div class="center-container">
    <div class="container">
        <form method="POST" action="" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                {{form.username.label}}</br>
                {{form.username}}</br>
                {{form.email.label}}</br>
                {{form.email}}

            <div class="submit">
                {{form.submit}}
            </div>
        </form>
    </div>
</div>

{% endblock %}