<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename= 'style/base.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style/background.css')}}">
    <script defer src="{{ url_for('static', filename= 'js/hamburger.js')}}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wolf Collector</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">Wolf Collector</div>
        <a href="#" class="toggle-btn">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li>
                    <a href="{{url_for('core.index')}}">Home</a>
                </li>
                <li>
                    <a href="{{url_for('core.info')}}">About</a>
                </li>

                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{url_for('wolves_posts.create_post')}}">Create Post</a> 
                </li>
                <li>
                    <a href="{{url_for('users.account')}}">Account</a>
                </li>
                <li>
                    <a href="{{url_for('users.logout')}}">Log Out</a>
                </li>
                {% else %}
                <li>
                    <a href="{{url_for('users.login')}}">Log In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div>
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>