{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'style/create.css')}}">

<div class="center-container">
  <div class="title-body">
    <h1>Create Your Wolf</h1>
  </div>
    <div class="container">
      <form method="POST">
          {{form.hidden_tag()}}
          <div>
              <p>Name:</p>
              {{form.title}}
          </div>
          <div>
            <p>Description:</p>
            {{form.text(class="description")}}
        </div>
        <div>
            {{form.submit}}
        </div>
      </form>
    </div>
    <img src="../static/img/wolf-create-img.jpg">
  </div>
{% endblock %}