{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'style/index.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename= 'style/img.css')}}">
<script defer src="{{ url_for('static', filename= 'js/rando-pictures.js')}}"></script>

<div class="center-title">
    <div class="title-body">
        <h1>The Wolves Are Here</h1>
    </div>
</div>

    <div class="container">
        {% for post in wolves.items %}
            <div class="card">
                <div>
                    <img class="random-wolf" src="">
                    <h2 class="wolf-name">
                        <a class="card-title" href="{{url_for('wolves_posts.wolf', wolves_id=post.id)}}">{{post.title}}</a>
                    </h2>
                    <p class="content">
                        <a href="{{url_for('users.user_posts', username=post.author.username)}}">Owner: {{post.author.username}}</a>
                    </p>
                    <p class="content">Published on: {{post.date.strftime('%Y - %m - %d')}}</p>
                    <a class="content" href="{{url_for('wolves_posts.wolf', wolves_id=post.id)}}">Read About This Wolf</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav class="page-nav">
        <ul class="page-nums">
            {% for page_num in wolves.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if wolves.page == page_num %}
                <li class="num">
                    <a href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="num">
                    <a href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}