{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'style/info.css')}}">
<div class="center-title">
    <div class="title-body">
        <h1>What Is Wolf Collector?</h1>
    </div>
</div>
<div class="center-body">
    <div class="container">
        <p>
            Wolf Collector is a blog posting site used to keep track of pack members! Post the name and a description of your pack mate, then have a look at other pack members. See who, when, and why they were added to the pack!
        </p>
    </div>
    <img src="../static/img/wolf-pack.jpg">
</div>
{% endblock %}