{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'style/info.css')}}">
<div class="center-title">
    <div class="title-body">
        <h1>What Is Wolf Collector?</h1>
    </div>
</div>
<div class="center-body">
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit veniam nihil nostrum excepturi nulla error quaerat reprehenderit, iste ad accusamus amet nesciunt, provident laborum, voluptas molestias unde non est perferendis?
        </p>
    </div>
</div>
{% endblock %}