{% extends "base.html" %}
{% block content %}
   
<link rel="stylesheet" href="{{ url_for('static', filename= 'style/login.css')}}">

<div class="center-container">
    <div class="container">
        <form method="POST">
            {{form.hidden_tag()}}
            {{form.email.label}}{{form.email}}<br>
            {{form.password.label}}{{form.password}}<br>
            <div class="submit-btn">
                {{form.submit()}}
            </div>

        </form>
        <div class="register">
            Dont have an account? 
            <a href="{{url_for('users.register')}}"> Register</a>
        </div>
    </div>
</div>
{% endblock %}