{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename= 'style/user.css')}}">
<script defer src="{{ url_for('static', filename= 'js/rando-pictures.js')}}"></script>

<div class="center-title">
    <div class="title">
        <h1>Here is all of {{user.username}}'s pack mates!</h1>
    </div>
</div>
<!-- <div class="center-container"> -->
    <div class="container">
        {% for post in wolves.items %}
        <div class="card">
            <img class="random-wolf" src="">
            <h2>
                <a href="{{url_for('wolves_posts.wolf', wolves_id=post.id)}}">{{post.title}}</a>
            </h2>
            Written By: <a href="{{url_for('users.user_posts', username=post.author.username)}}">{{post.author.username}}</a>

            <p>
                Published On: {{post.date.strftime("%y-%m-%d")}}
            </p><br>
            <p class="post-text">{{post.text}}</p><br>
        </div>
        {% endfor %}
    </div>
<!-- </div> -->

    <nav class="page-nav">
        <ul class="page-nums">
            {% for page_num in wolves.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if wolves.page == page_num %}
                <li class="num">
                    <a href="{{url_for('users.user_posts', username=user.username, page=page_num)}}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="num">
                    <a href="{{url_for('users.user_posts', username=user.username, page=page_num)}}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>


{% endblock %}